@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Apercu";
  src: url("/fonts/Apercu-Font/Apercu-Pro-Regular.otf");
    
  font-style: normal;
  font-weight: 400;
  font-display:swap ;
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/Apercu-Font/Apercu-Pro-light.otf");
  font-style: normal;
  font-weight: 300;
  font-display:swap ;
}

@layer components{

  .btn {

  };


  .btn-round{
    @apply rounded-full border flex-shrink-0 w-10 h-10 grid place-content-center cursor-pointer;
  }
}